**/.git
**/.gitignore
**/.vscode
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache

venv/
.venv/
env/

frontend/node_modules/
frontend/build/

backend/app/storage/

DATA/
*.md
!frontend/README.md

.env
.env.*
!.env.example
